<div >
    <div class="col">
        <div class="portfolio-item m-1 p-3">
            <a class="portfolio-link" data-bs-toggle="modal" (mousedown)="updateProduct(myproduct)" >
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fas fa-3x"><fa-icon [icon]="faPlus"></fa-icon></i></div>
                </div>
                <img class="img-fluid" id="projectimg" src={{myproduct.projectimg}} alt="..."   style="width: 316px; height: 230px;"/>
            </a>
            <div class="portfolio-caption">
                <div class="portfolio-caption-heading" id="projectName">{{myproduct.projectName}}</div>
                <div class="portfolio-caption-subheading text-muted"id="category">{{myproduct.category}}</div>
                <div class="portfolio-caption-subheading text-muted" id="price">{{myproduct.price}}</div>
                <div class="portfolio-caption-subheading text-muted" id="availability">{{myproduct.availability}}</div>
                <div class="portfolio-caption-subheading text-muted" hidden id="description">{{myproduct.description}}</div>

        
            </div>
        </div>
    </div>
    
</div>




















<!-- <app-project-details  [x]="myproduct"></app-project-details> -->












<!-- ////////////////***********************---------------------*********************//////////////////// -->



<!-- <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="firstname1">Jassa</td>
        <td id="lastname1">Rich</td>
        <td id="email1">jassa@example.com</td>
        <td id="1" (click)="onClick($event)" data-bs-toggle="modal" href="#exampleModalToggle" style="cursor: pointer;font-weight: bold;">Show</td>
      </tr>
      <tr>
        <td id="firstname2">Rich</td>
        <td id="lastname2">Post</td>
        <td id="email2">rich@example.com</td>
        <td id="2" (click)="onClick($event)" data-bs-toggle="modal" href="#exampleModalToggle" style="cursor: pointer;font-weight: bold;">Show</td>
      </tr>
      <tr>
        <td id="firstname3">Ajay</td>
        <td id="lastname3">Kumar</td>
        <td id="email3">ajay@example.com</td>
        <td id="3" (click)="onClick($event)" data-bs-toggle="modal" href="#exampleModalToggle" style="cursor: pointer;font-weight: bold;">Show</td>
      </tr>
    </tbody>
  </table>



  <div class="modal" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-header">
          <h4 class="modal-title">User Details:</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
         <p class="border-bottom">User ID : {{id}}</p>
         <p class="border-bottom">Firstname : {{name}}</p>
         <p class="border-bottom">Lastname : {{Lastname}}</p>
         <p class="border-bottom">Email : {{Email}}</p>
        </div>
        
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div> -->
