<div class="row">
    <div class="col-4">
        <div class="card m-2" style="width: 18rem;">
            <img src={{mycourse.courseImg}} class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{mycourse.courseTitle}}</h5>
              <p class="card-text fs-6 mb-0"><small>{{mycourse.publishDate}}</small></p>
              <p class="card-text  fs-6 mb-0">{{mycourse.creator}}</p>
              <p class="card-text  fs-6 mb-0">{{mycourse.publishDate}}</p>
              <p class="card-text  fs-6  "> <strong>{{mycourse.price}}$</strong></p>
              <p class="card-text  fs-6 mb-0 " hidden><small>{{mycourse.description}}</small></p>        
              <a  class="btn btn-primary" >Add to cart</a>
            </div>
          </div>
    </div>
    
</div>










<!-- 
  <div class="portfolio-item">
    <a class="portfolio-link" >
        <div class="portfolio-hover">
            <div class="portfolio-hover-content"><i class="fas fa-3x bi bi-plus"></i></div>
        </div>
        <img class="img-fluid" id="projectimg" src="..." alt="..." />
    </a>
    <div class="portfolio-caption">
    
    </div>
</div> -->