<header class=" masthead course">
    <div class="container">
        <div class="masthead-subheading"> Welcome To our courses</div>
        <div class="masthead-heading text-uppercase">What to learn next</div>
        <a class="btn btn-primary btn-xl text-uppercase" >Tell Me More</a>
    </div>
</header>

<section  class="page-section bg-light" id="portfolio">

    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">courses</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <!-- <button type="button"  class="btn btn-primary" (mouseup)="filtercourse('')" >showCourses</button>
        <button type="button" name="angular" class="btn btn-primary" (mouseup)="filtercourse('angular')" #angularBtn >Angular</button>
        <button type="button" class="btn btn-primary" (mouseup)="filtercourse('react')" >React</button>
        <button type="button" class="btn btn-primary" (mouseup)="filtercourse('vue')">Vue</button> -->

        
<div class="row row-cols-1 row-cols-lg-3 row-cols-sm-2 g-2 g-lg-3" >
    <div class="col" *ngFor="let course of coures$ |async">
    <div class="p-3">
        <div class="card m-2" style="width: 18rem; height: 30rem;">
            <img src={{course.courseImg}} class="card-img-top rounded  d-block" alt="..." style="width: 283px; height: 250px;">
            <div class="card-body">
              <h5 class="card-title">{{course.courseTitle}}</h5>
              <p class="card-text fs-6 mb-0"><small>{{course.publishDate}}</small></p>
              <p class="card-text  fs-6 mb-0">{{course.creator}}</p>
              <p class="card-text  fs-6 mb-0">{{course.publishDate}}</p>
              <p class="card-text  fs-6  "> <strong>{{course.price}}$</strong></p>
              <p class="card-text  fs-6 mb-0 " hidden><small>{{course.description}}</small></p>        
              <a  class="btn btn-primary" >Add to cart</a>
            </div>
          </div>
    </div>
    
</div>


</div>

    </div>
    
</section>


